server:
  port: 8888

spring:
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  application:
    name: gatewayserver
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true  # ? Use kebab-case (standard)
#      routes:
#        - id: r1
#          uri: lb://DEPARTMENT
#          predicates:
#            - Path=/api/departments/**
#        - id: r2
#          uri: lb://TEACHER
#          predicates:
#            - Path=/api/teachers/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted # ? 'access: unrestricted' is not standard; use 'enabled'

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 100